name: Benchmark
on:
  workflow_dispatch: {}
  schedule:
    - cron: '0 0 * * 0'
defaults:
  run:
    shell: bash -euxo pipefail {0}
jobs:
  benchmark:
    name: Benchmark
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      - name: Setup pnpm
        uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0
        with:
          package_json_file: package.json
      - name: Setup Node.js
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version-file: .node-version
          cache: pnpm
          cache-dependency-path: benchmarks/pnpm-lock.yaml
      - working-directory: ./benchmarks
        run: pnpm install
      - working-directory: ./benchmarks
        env:
          PLOTLY_USERNAME: ${{ secrets.PLOTLY_USERNAME }}
          PLOTLY_APIKEY: ${{ secrets.PLOTLY_APIKEY }}
        run: pnpm run benchmark
