name: Benchmark
on:
  workflow_dispatch: {}
  schedule:
    - cron: '0 0 * * 0'
defaults:
  run:
    shell: bash -euxo pipefail {0}
jobs:
  benchmark:
    name: Benchmark
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Setup pnpm
        uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0
        with:
          package_json_file: package.json
      - name: Setup Node.js
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version-file: .node-version
          cache: pnpm
          cache-dependency-path: benchmarks/pnpm-lock.yaml
      - working-directory: ./benchmarks
        run: pnpm install
      - working-directory: ./benchmarks
        env:
          PLOTLY_USERNAME: ${{ secrets.PLOTLY_USERNAME }}
          PLOTLY_APIKEY: ${{ secrets.PLOTLY_APIKEY }}
        run: pnpm run benchmark
